{#
/**
 * @file
 * Default theme implementation to present a widget entity.
 *
 * This template is used when viewing a registered widget's page,
 * e.g., /iots/widget)/123. 123 being the widget's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_iots_widget()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
