{#
/**
 * @file
 * Default theme implementation to present a layout entity.
 *
 * This template is used when viewing a registered layout's page,
 * e.g., /iots/layout)/123. 123 being the layout's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_iots_layout()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
