{#
/**
 * @file
 * Default theme implementation to present a device registry entity.
 *
 * This template is used when viewing a registered device registry's page,
 * e.g., /iots/registry)/123. 123 being the device registry's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_iots_registry()
 */
#}
{% set pub = '&nbsp;<i class="fas fa-angle-double-up"></i>&nbsp; '%}
{% set sub = '<i class="fas fa-cloud-download-alt"></i> '%}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
  <div>
    <h4>{{ 'MQTT Topics'|t }}</h4>
    <ul>
      <li>{{sub|raw}} <code>$devices/+/events/#</code>
      <li>{{sub|raw}} <code>$devices/+/state/#</code>
      <li>{{pub|raw}} <code>$devices/+/commands/#</code>
      <li>{{pub|raw}} <code>$devices/+/config/#</code>
      <li> --
      <li>{{pub|raw}} <code>$registries/{{uuid}}/commands</code>
      <li>{{pub|raw}} <code>$registries/{{uuid}}/config</code>
      <li>{{sub|raw}} [?] <code>$registries/{{uuid}}/events</code>
      <li>{{sub|raw}} [?] <code>$registries/{{uuid}}/state</code>
      <li> --
      <li>{{sub|raw}} [?discovery] <code>$monitoring/json</code>
    </ul>
  </div>
</article>
