{#
/**
 * @file
 * Default theme implementation to present a product entity.
 *
 * This template is used when viewing a registered product's page,
 * e.g., /iots/product)/123. 123 being the product's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_iots_product()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
