{#
/**
 * @file
 * Default theme implementation to present a release entity.
 *
 * This template is used when viewing a registered release's page,
 * e.g., /iots/release)/123. 123 being the release's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_iots_release()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
