{#
/**
 * @file
 * Default theme implementation to present a device credentials entity.
 *
 * This template is used when viewing a registered device credentials's page,
 * e.g., /iots/credentials)/123. 123 being the device credentials's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_iots_credentials()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
