.cert__table-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
  display: flex;
  align-items: baseline;
  color: rgba($color: #000000, $alpha: 0.5);
  font-size: 14px;
  .cert__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .copy__btn {
    margin-left: 5px;
    visibility: hidden;
    line-height: 1;
    display: block;
  }
  &:hover .copy__btn {
    visibility: visible;
    cursor: pointer;
  }

}
