.cert__table-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
  display: flex;
  align-items: baseline;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.cert__table-cell .cert__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cert__table-cell .copy__btn {
  margin-left: 5px;
  visibility: hidden;
  line-height: 1;
  display: block;
}
.cert__table-cell:hover .copy__btn {
  visibility: visible;
  cursor: pointer;
}
