/**
 * @file
 * Commerce toolbar icon styling.
 */

/* Tray styling (second row) */
.toolbar-tray .toolbar-icon.toolbar-icon-iots-page:before {
  background-image: url("../icons/787878/cog.svg");
}
.toolbar-tray .toolbar-icon.toolbar-icon-iots-page:active:before,
.toolbar-tray .toolbar-icon.toolbar-icon-iots-page.is-active:before {
  background-image: url("../icons/000000/cog.svg");
}
