{#
/**
 * @file
 * Default theme implementation to present a device entity.
 *
 * This template is used when viewing a registered device's page,
 * e.g., /iots/device)/123. 123 being the device's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_iots_device()
 */
#}
{% set pub = '&nbsp;<i class="fas fa-angle-double-up"></i>&nbsp; '%}
{% set sub = '<i class="fas fa-cloud-download-alt"></i> '%}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
  <details>
    <summary>{{ 'MQTT Topics'|t }}</summary>
    <ul>
      <li>{{pub|raw}} <code>$devices/{{uuid}}/events/#</code> {qos: 1 - at least once delivery}
      <li>{{pub|raw}} <code>$devices/{{uuid}}/state/#</code>
      <li>{{sub|raw}} <code>$devices/{{uuid}}/commands/#</code>, {qos: 0 - most once delivery}
      <li>{{sub|raw}} <code>$devices/{{uuid}}/config/#</code>, {qos: 1 - at least once delivery}
      <li> --
      <li>{{sub|raw}} <code>$registries/{{registry}}/commands</code>
      <li>{{sub|raw}} <code>$registries/{{registry}}/config</code>
      <li>{{pub|raw}} [?] <code>$registries/{{registry}}/events</code>
      <li>{{pub|raw}} [?] <code>$registries/{{registry}}/state</code>
      <li> --
      <li>{{sub|raw}} [?discovery] <code>$monitoring/json</code>
    </ul>
  </details>
</article>
